<div class="header">
  <h3 class="text-muted">Couchbase Lite @ QCon</h3>
</div>

<div class="jumbotron">
  <h1>Hack Challenge - Win a remote Helicopter!</h1>
  <p class="lead">Build a simple iOS or Android app, before the end of QCon,
  using Couchbase’s mobile NoSQL database. And get the chance to win a remote Helicopter!</p>
  <p class="lead">Can't do it during QCon? Come to our <a href="http://www.meetup.com/Couchbase-London/events/167053132/">Meetup</a>, and we'll help you along!</p>

  <% if errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <ul class="no-bullet">
        <% errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_token %>
      <% if completed %>
        <h3>Congratulations you have successfully completed the Challenge!</h3>
        <p><a class="btn btn-lg btn-success" role="button" href=" http://twitter.com/intent/tweet?text=I+completed+the+%40couchbase+Hack+Challenge!+http%3A%2F%2Fwww.couchbase.com%2Fqconhack">Tweet about it</a></p>
      <% else %>
        <h3>You have not yet completed the Challenge!</h3>
      <% end %>
    <p>You signed up with <%= user_email %></p>
    <p>Your token is <%= user_token %></p>

    <form action="/signout" method="post">
      <p><input class="btn btn-default btn-xs" role="button" type="submit" value="Sign out" /></p>
    </form>

  <% else %>
    <form action="/signup" method="post">
      <p>
      <input id="signup_email" name="signup[email]" type="text" placeholder="me@example.com" />
      </p>

      <p>
      <input class="btn btn-lg btn-success" role="button" type="submit" value="Sign up now" />
      </p>
    </form>
  <% end %>
</div>

<div class="description">
  <h3>The Challenge</h3>
  <p>
  The goal is to create your first iOS or Android app using Couchbase Lite to
  sync documents between the client and server. To complete the challange you
  need to create an app which authenticates with the Couchbase Sync Gateway and
  stores a document. The document must be stored under your users token as the
  key and contain the following JSON with ratings and comments to your liking.
  <p>
  <%= glorify user_json %>
  </p>
  </p>

  <h3>What you need todo</h3>
  <p>
  <ol>
    <li>Create an iOS or Android with Couchbase Lite</li>
    <li><a href="http://docs.couchbase.com/couchbase-lite/cbl-ios/#authenticating-with-a-remote-database">Authenticate to replicate your Database to the Sync Gateway</a>
    <ul>
      <li>User: <%= email %></li>
      <li>Password: <%= token %></li>
      <li>Authentication Realm: Couchbase Sync Gateway</li>
      <li>URL: <%= sync_gateway_url %></li>
    </ul>
    <li>Create and replicate a document as seen above, visit this page to see if it worked.</li>
    <li>Tweet to <a href=" http://twitter.com/intent/tweet?text=I+completed+the+%40couchbase+Hack+Challenge!+http%3A%2F%2Fwww.couchbase.com%2Fqconhack">@couchbase about it</a></li>
    <li>Come to our both or the <a href="http://www.meetup.com/Couchbase-London/events/167053132/">Meetup</a> to claim your prize</li>
  </ol>
  </p>

  <h3>Some helpful ressources</h3>
  <p>
  <ul>
    <li><a href="http://docs.couchbase.com/couchbase-lite/cbl-ios/">Couchbase iOS Developer Guide</a></li>
    <li><a href="http://docs.couchbase.com/couchbase-lite/cbl-android/cbl-android-1.0b2/">Couchbase Android Developer Guide</a></li>
    <li><a href="http://docs.couchbase.com/couchbase-lite/cbl-android/cbl-android-1.0b2/">Couchbase Android Developer Guide</a></li>
    <li><a href="https://github.com/couchbase/couchbase-lite-ios">Couchbase Lite on Github with more helpful links</a></li>
  </ul>
  </p>
</div>

<div class="footer">
  <p>© Couchbase 2014</p>
</div>
